@font-face {
    font-family: "montserrat";
    src: url('../includes/Montserrat-Regular.otf');
}

body {
    background-color: aliceblue;
    font-family: montserrat;
}
#gameBoard {
    width:658px;
    height: 658px;
    margin-left: auto;
    margin-right: auto;
}

.tile {
    border: 1px solid black;
    float: left;
    /* background: url(https://i.picsum.photos/id/1/640/640.jpg) no-repeat; */
}

#output {
    font-size: x-large;
    margin-bottom: 10px;
}
#cheatPic {
    float: left;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    width: 228px;
    padding: 20px;
    margin-left: 30px;
    text-align: center;
}
#referencePic {
    width: 218px;
    border:1px solid black;
}

#referencePic:hover {
    transform: scale(3);
    position: absolute;
    transform-origin: top left;
}

#logoPic {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#winPanel {
    display:none;
    margin: 0 auto;
    width:300px;
    height:60px;
    position: absolute;
    border: 1px solid black;
    margin-left: -150px;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    font-size: 24px;
    z-index: 2;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    background: rgb(167,207,244);
    background: linear-gradient(145deg, rgba(167,207,244,1) 3%, rgba(90,175,244,1) 49%, rgba(35,143,242,1) 91%); 
}

@media screen and (max-device-width: 767px){

    #gameBoard {
        width: 800px;
        height: 800px;
        margin-top: 50px;
    }

    .tile {
        border: 1px solid black;
        float: left;
        background: url("https://picsum.photos/800") no-repeat;
    }

    #cheatPic {
        float: unset;
        width: 90%;
        margin-left: 5%;
        height: 150px;
        margin-right: 5%;
        border: 1px solid black;
        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 5px #000000;
        display: inline-flex;
        padding: 20px;
        margin-bottom: 50px;
    }

    #logoPic {
        width:50%;
        float: left;
        margin-right:20px;
    }

    #referencePic {
        width: 50%;
    }
}